@forward '../scss/globals';

.navbar{
    z-index: 6;
    position: fixed;
     top: 0;
     height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:black;
    background-color: white;
    box-shadow: black;
    font-size: 1.2rem;
}
.navbar .section
{   margin-top: 2rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    transition: border 300ms ease-in-out;
    border-bottom: 3px solid transparent;
    height: 2rem;
}
.navbar a
{
    text-decoration: none;
}
.navbar .section:hover
{
border-color: var(--color-yellow);
color: var(--color-yellow);
}
.logo
{   margin-top: 2rem;
    width: 13rem;
    transform: translateY(-1rem);
}
.mail
{   margin-top: 2rem;
    font-size: var(--font-xsmall);
    margin-bottom: 2rem;
    transform: translateY(1rem);
    color: gray;
    text-decoration: none;
}
.mail:hover
{
    color: var(--color-yellow);
}

.logo-container
{
    display: flex;
    flex: content;
}
.hamburger{
  margin: auto 0;
  display: none;
  cursor: pointer;
}
.hamburger div {
 width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}


@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar a{
    align-self: flex-start;
  }
    .navbar{
        flex-direction: row;}
        .logo{
            width: 6rem;
            padding-left: 1rem;
        }
        .mail{
            display: flex!important;
            font-size: 9px;
            margin-top: 0;
            margin-bottom: 0;
            transform: translateY(2.1rem);
    }
     .hamburger{
    display: block!important;
    color: black;

  }
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
  .navbar .logo-container
  {
    margin-left: 0;
    align-content: flex-start;
    
  }

}