@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
:global(html){
--color-beige: #EECD89;
--color-cyan: #65BFBF;
--color-dark-cyan: #5BB9BD;
--color-light-blue:#C7D7DD;
--color-yellow:#EEBF61;
--font-small:1.2rem;
--font-medium: 1.6rem;
--font-large:1.8rem; 

}

:global(body){
    font-family: 'Ubuntu', sans-serif;

}
.navbar{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:black;
    background-color: white;
    box-shadow: black;
    font-size: var(--font-small);
}
.navbar a
{   margin-top: 2rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    transition: border 300ms ease-in-out;
    border-bottom: 3px solid transparent;
    height: 2rem;
}

.navbar a:hover
{
    border-color: var(--color-yellow);
    color: var(--color-yellow);
}
.logo
{   
    width: 13rem;
    transform: translateY(-1rem);
}