
:root{
    --color-beige: #e4b85f;
    --color-cyan: #65BFBF;
    --color-dark-cyan: #2c7a7d;
    --color-light-blue:#C7D7DD;
    --color-yellow:#EEBF61;
    --color-dark-beige:#EECD89;
    --color-dark-gray:rgb(22, 22, 22);
}